<header>
  <dx-toolbar [height]="55">
    <ng-container *ngIf="isAuth">
      <dxi-item location="before">
        <dx-button id="menuButton" icon="fa fa-bars" type="text" (onClick)="onDrawerToggle($event)"></dx-button>
      </dxi-item>
      <dxi-item location="after">
        <dx-button id="logoutButton" icon="fa fa-sign-out" type="text" (onClick)="onLogout()"></dx-button>
      </dxi-item>
    </ng-container>
    <dxi-item location="center" text="trowoo"></dxi-item>
  </dx-toolbar>
</header>
